[submodule "nix-env.fish"]
	path = nix-env.fish
	url = https://github.com/lilyball/nix-env.fish
[submodule "nvim/.config/--force"]
	path = nvim/.config/--force
	url = https://github.com/eZaplachi/nvim.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/eZaplachi/nvim.git
